# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Virtual Environments
*.env
*.venv
env/
/env/
venv/
*.egg-info/
dist/
build/

# Cache
__pycache__/
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Segredos
.env
secrets.toml

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Others
*.bak
*.tmp
*.swp
*.swo

# Banco de dados vetorial gerado
/vectorstore_db/

# Armazenamento temporário de PDFs
/temp_pdf_storage/

# Arquivos do Streamlit
.streamlit/

# Datasets
/data/
/data_raw/
archive.zip
*.csv

# Custom
/enunciado
.zip